---
layout: none
permalink: /favorites/index.html
---
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>My Favorite Places</title>
	<link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>
<body class="wait">

{% include_relative styles-local.html %}

<div id="filter-container">
	<h2>Categories</h2>
	<div class="type-filter" id="filter"></div>
	<div class="button-container">
		<div class="button" id="none-button">None</div>
		<div class="button" id="all-button">All</div>
		<div class="button" id="world-button">World</div>
		<div class="button" id="europe-button">Europe</div>
		<div class="button" id="usa-button">USA</div>
	</div>
	<div id="help" style="color: #aaa">
		<ul>
			<li id="keyboard-shortcuts">Keyboard shortcuts</li>
			<div id="shortcuts-popup" style="display: none; position: absolute; background-color: white; border: 1px solid black; padding: 10px;">
				<ul class="keyboard-shortcuts">
					<li> <span class="key">a</span> <span class="key-info">= display all categories</a> </li>
					<li> <span class="key">c</span> <span class="key-info">= zoom to California</a> </li>
					<li> <span class="key">e</span> <span class="key-info">= zoom to Europe</a> </li>
					<li> <span class="key">n</span> <span class="key-info">= display no categories</a> </li>
					<li> <span class="key">m</span> <span class="key-info">= toggle map display</a> </li>
					<li> <span class="key">p</span> <span class="key-info">= zoom to Poland</a> </li>
					<li> <span class="key">s</span> <span class="key-info">= toggle satellite view</a> </li>
					<li> <span class="key">u</span> <span class="key-info">= zoom to USA</a> </li>
					<li> <span class="key">w</span> <span class="key-info">= zoom to world level</a> </li>
					<li> <span class="key">-</span> <span class="key-info">= zoom out one level</a> </li>
					<li> <span class="key">=</span> <span class="key-info">= zoom in one level</a> </li>
					<li> <span class="key">_</span> <span class="key-info">= zoom out three levels</a> </li>
					<li> <span class="key">+</span> <span class="key-info">= zoom in three levels</a> </li>
				</ul>
			</div>

			<li> Click on points to zoom in/out. </li>

			<li> Shift-click on points to open in Google Maps at current zoom. </li>
		</ul>
	</div>
</div>
<div id="map" tabindex="1"></div>
<div id="coordinates">Lat: --, Lng: --, Zoom: --</div>


{% include_relative scripts-local.html %}


</body>
</html>



